<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" >
      <ul class="nav navbar-nav">
      <li routerLinkActive="active" style="">
      <a routerLink="/pokemon" class="navbar-brand" 
      style="
      font-family: sans-serif;
      font-size: 3rem;
      background: linear-gradient(to right,#758ba7, #2a5d8d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;"
      >Pokemon</a></li></ul>
    </div>
  </div>
</nav>
