.item-container {
    display: flex; 
    align-items: center; 
  }
  
 
  .item-container {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    justify-content: space-between;
  }
  
  .list-group-item-heading {
    margin-bottom: 0; 
  }
  