.item-container {
    display: flex; 
    align-items: center; 
  }
  
 
  .item-container {
    display: grid; 
    grid-template-columns: auto 1fr;
    align-items: center; 
    gap: 10px; 
  }
  
  .list-group-item-heading {
    margin-bottom: 0; 
  }
  